<%= form_for(@character) do |form| %>
  <% if @character.errors.any? %>
    <ul>
    <% @character.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="character-editor" spellcheck="false">
    <div flex-container>
      <div class="editor-portrait">
        <img class="editor-portrait-content" src="http://th05.deviantart.net/fs71/PRE/i/2014/059/e/f/___barbarian____by_wyv1-d78c0nq.jpg" alt="" />
      </div>

      <div flex='large'>
        <ul class="editor-fields" grid-container>
          <li grid-item='small'>
            <label class="ui-field">
              <span class="ui-field-label">Name</span>
              <%= form.text_field :name, :class => "ui-field-input ui-text-input" %>
            </label>
          </li>

          <li grid-item="small">
            <label class="ui-field">
              <span class="ui-field-label">Background</span>
              <%= form.text_field :background, :class => "ui-field-input ui-text-input" %>
            </label>
          </li>

          <li grid-item="small">
            <label class="ui-field">
              <span class="ui-field-label">Class</span>
              <%= form.text_field :klass, :class => "ui-field-input ui-text-input" %>
            </label>
          </li>

          <li grid-item="small">
            <label class="ui-field">
              <span class="ui-field-label">Alignment</span>
              <%= form.text_field :alignment, :class => "ui-field-input ui-text-input" %>
            </label>
          </li>
        </ul>

        <ul class="editor-fields" grid-container>
          <li grid-item="small">
            <label class="ui-field">
              <span class="ui-field-label">Race</span>
              <%= form.text_field :race, :class => "ui-field-input ui-text-input" %>
            </label>
          </li>

          <li grid-item="small">
            <label class="ui-field">
              <span class="ui-field-label">Gender</span>
              <input class="ui-field-input ui-text-input" type="text" />
            </label>
          </li>

          <li grid-item="small">
            <label class="ui-field">
              <span class="ui-field-label">Size</span>
              <input class="ui-field-input ui-text-input" type="text" />
            </label>
          </li>

           <li grid-item="tiny">
            <label class="ui-field">
              <span class="ui-field-label">Weight</span>
              <input class="ui-field-input ui-text-input" type="text" />
            </label>
          </li>

          <li grid-item="tiny">
            <label class="ui-field">
              <span class="ui-field-label">Height</span>
              <input class="ui-field-input ui-text-input" type="text" />
            </label>
          </li>
        </ul>

        <div grid-container>
          <div grid-item="medium">
            <div class="editor-attributes-header ui-field-label">Ability Scores</div>

            <dl class="editor-attributes">
              <dt class="editor-attributes-label">STR</dt>
              <dd class="editor-attributes-value" flex-container>
                <input id="character_str" name="character[strength]" class="ui-range-bar" type="range" min="1" max="20" oninput="character_str_output.value = character_str.value" flex="massive" />
                <output id="character_str_output" for="character_str" flex="tiny"><%= @character[:strength] %></output>
              </dd>

              <dt class="editor-attributes-label">DEX</dt>
              <dd class="editor-attributes-value" flex-container>
                <input id="character_dex" name="character[dexterity]" class="ui-range-bar" type="range" min="1" max="20" oninput="character_dex_output.value = character_dex.value" flex="massive" />
                <output id="character_dex_output" for="character_dex" flex="tiny"><%= @character[:dexterity] %></output>
              </dd>

              <dt class="editor-attributes-label">CON</dt>
              <dd class="editor-attributes-value" flex-container>
                <input id="character_con" name="character[constitution]" class="ui-range-bar" type="range" min="1" max="20" oninput="character_con_output.value = character_con.value" flex="massive" />
                <output id="character_con_output" for="character_con" flex="tiny"><%= @character[:constitution] %></output>
              </dd>

              <dt class="editor-attributes-label">INT</dt>
              <dd class="editor-attributes-value" flex-container>
                <input id="character_int" name="character[inteligence]" class="ui-range-bar" type="range" min="1" max="20" oninput="character_int_output.value = character_int.value" flex="massive" />
                <output id="character_int_output" for="character_int" flex="tiny"><%= @character[:inteligence] %></output>
              </dd>

              <dt class="editor-attributes-label">WIS</dt>
              <dd class="editor-attributes-value" flex-container>
                <input id="character_wis" name="character[wisdom]" class="ui-range-bar" type="range" min="1" max="20" oninput="character_wis_output.value = character_wis.value" flex="massive" />
                <output id="character_wis_output" for="character_wis" flex="tiny"><%= @character[:wisdom] %></output>
              </dd>

              <dt class="editor-attributes-label">CHA</dt>
              <dd class="editor-attributes-value" flex-container>
                <input id="character_cha" name="character[charisma]" class="ui-range-bar" type="range" min="1" max="20" oninput="character_cha_output.value = character_cha.value" flex="massive" />
                <output id="character_cha_output" for="character_cha" flex="tiny"><%= @character[:charisma] %></output>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if false %>
<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :background %><br>
    <%= f.text_field :background %>
  </div>
  <div class="field">
    <%= f.label :personality_traits %><br>
    <%= f.text_field :personality_traits %>
  </div>
  <div class="field">
    <%= f.label :ideals %><br>
    <%= f.text_field :ideals %>
  </div>
  <div class="field">
    <%= f.label :bonds %><br>
    <%= f.text_field :bonds %>
  </div>
  <div class="field">
    <%= f.label :flaws %><br>
    <%= f.text_field :flaws %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :dexterity %><br>
    <%= f.number_field :dexterity %>
  </div>
  <div class="field">
    <%= f.label :constitution %><br>
    <%= f.number_field :constitution %>
  </div>
  <div class="field">
    <%= f.label :inteligence %><br>
    <%= f.number_field :inteligence %>
  </div>
  <div class="field">
    <%= f.label :wisdom %><br>
    <%= f.number_field :wisdom %>
  </div>
  <div class="field">
    <%= f.label :charisma %><br>
    <%= f.number_field :charisma %>
  </div>
  <div class="field">
    <%= f.label :proficiency_bonus %><br>
    <%= f.number_field :proficiency_bonus %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :current_hp %><br>
    <%= f.text_field :current_hp %>
  </div>
  <div class="field">
    <%= f.label :max_hp %><br>
    <%= f.text_field :max_hp %>
  </div>
  <div class="field">
    <%= f.label :current_hit_die %><br>
    <%= f.text_field :current_hit_die %>
  </div>
  <div class="field">
    <%= f.label :max_hit_die %><br>
    <%= f.text_field :max_hit_die %>
  </div>
  <div class="field">
    <%= f.label :hit_die %><br>
    <%= f.text_field :hit_die %>
  </div>
  <div class="field">
    <%= f.label :ac %><br>
    <%= f.text_field :ac %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :alignment %><br>
    <%= f.text_field :alignment %>
  </div>
  <div class="field">
    <%= f.label :class %><br>
    <%= f.text_field :klass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>